@charset "utf-8";
/* CSS Document */

/*----------------------------------preview-------------------------------------------------------*/
.preview{ padding:20px;}

.listbox{ position: relative; width: 100%; height: 44px; margin-bottom: 10px;}
.listbox .wrap{ position: relative; height:100%; border-bottom: 1px solid #e7e7e7;}
.listbox .wrap .til{ position: absolute; top:0; left: 0; width: 30%;height: 100%; z-index: 3;}
.listbox .wrap .inp{ position: absolute; top:0; left: 35%; width:60%;height: 100%; z-index: 4;}
.listbox .wrap:before{ position: absolute; content: ""; display: block; bottom: 0; left: 0; height: 4px; width:10px; border-left: 1px solid #e7e7e7; }
.listbox .wrap:after{ position: absolute; content: ""; display: block; bottom: 0; right: 0; height: 4px; width: 10px; border-right: 1px solid #e7e7e7; }
.listbox .wrap .til .t{ position:relative; width:100%; padding-left:12px; font-size:16px; line-height:44px; color:#555; overflow:hidden;text-overflow:ellipsis;white-space:nowrap; box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; -webkit-box-sizing:border-box; }
.listbox .wrap .til .t:after{ position: absolute; content: ""; display: block; right:0; top:15px; width:1px; height:14px; background:#eee; z-index:11;}
.listbox .wrap .inp input,.listbox .wrap .inp select{ height: 44px; width: 100%; font-size: 1em; color: #444; border: 0 !important; background-color: transparent !important;}


/*footer*/
.btnbox{ padding: 1.875rem 0; text-align: center;}
.btnbox .btndiv:only-child{ width:100%; float:none;}
.btnbox .btndiv input{ border:none; font-weight:normal; box-shadow:none !important; width:100%; padding:.75rem 0;}
/*end*/



/*---------------------------------show------------------------------------------------*/
.show{ position:absolute; top:0; bottom:0; right:0; left:0; z-index:6;}
.header{ position:relative; height:180px; background: url(../images/sharehead.jpg) no-repeat; background-size: auto;}
.header .share{ position:absolute; top:12px; right:12px; width:44px; height:44px; z-index:10;}
.header .share em{ width:40px; height:40px; background:url(../images/share.png) center center no-repeat; background-size:cover; display:block;}
.header .headwrap{ width:84px; height:84px; margin:0 auto; padding:24px 0 4px 0;}
.header .headwrap .head{ padding:2px; width:80px; height:80px; background:#fff; border-radius:45px; background-image:url(../images/head.png); background-position:center; background-repeat:no-repeat; background-size:50%;}
.header .headwrap .head img{ width:60px; height:60px;}
.header .name{ height:34px; line-height:34px; text-shadow:none; text-align:center; font-size:18px; color:#fff;}
.header .job{ height:16px; line-height:16px; text-shadow:none; text-align:center; font-size:14px; color:#dff1ff;}

.showwrap{ padding:12px;}
.listbox .wrap .ico{ position: absolute; top:0; left: 0; width: 15%;height: 100%; z-index: 3;}
.listbox .wrap .ico em{ height: 20px; width: 20px; display: block; margin: 12px; float: left; filter:alpha(opacity=30);opacity: 0.3;-moz-opacity: 0.3;}
.listbox .wrap .ico em.company{ background: url("../images/company.png") center center no-repeat; background-size: cover; }
.listbox .wrap .ico em.phone{ background: url("../images/phone.png") center center no-repeat; background-size: cover; }
.listbox .wrap .ico em.tel{ background: url("../images/tel.png") center center no-repeat; background-size: cover; }
.listbox .wrap .ico em.email{ background: url("../images/email.png") center center no-repeat; background-size: cover; }
.listbox .wrap .ico em.code{ background: url("../images/code.png") center center no-repeat; background-size: cover; }
.listbox .wrap .ico em.address{ background: url("../images/address.png") center center no-repeat; background-size: cover; }


.listbox .wrap .txt{ position: absolute; top:0; left: 20%; width:80%;height: 100%; z-index: 4;}
.listbox .wrap .txt .t{ width:100%; line-height:44px; color:#444;}


.showbox{}
.showbox ul{}
.showbox ul li{ width:50%; height:90px; float:left;}
.showbox ul li a{ display:block; width:100%; height:100%; background:#039;}
.showbox ul li a.company{ background:#0B73B8;}
.showbox ul li a.phone{ background:#3194DC;}
.showbox ul li a.tel{ background:#08CEBD;}
.showbox ul li a.email{ background:#22B3A6;}
.showbox ul li a.code{ background:#4465FF;}
.showbox ul li a.address{ background:#5A73FF;}
.showbox ul li a .ico{ width:30px; height:30px; margin:0 auto; padding-top:12px;}
.showbox ul li a .ico .i{ width:30px; height:30px; display:block;}

.showbox ul li a.company .ico .i{ background: url("../images/company_white.png") center center no-repeat; background-size: cover;}
.showbox ul li a.phone .ico .i{ background: url("../images/phone_white.png") center center no-repeat; background-size: cover;}
.showbox ul li a.tel .ico .i{ background: url("../images/tel_white.png") center center no-repeat; background-size: cover;}
.showbox ul li a.email .ico .i{ background: url("../images/email_white.png") center center no-repeat; background-size: cover;}
.showbox ul li a.code .ico .i{ background: url("../images/code_white.png") center center no-repeat; background-size: cover;}
.showbox ul li a.address .ico .i{ background: url("../images/address_white.png") center center no-repeat; background-size: cover;}

.showbox ul li a .txt{ height:40px; line-height:30px; overflow:hidden; text-align:center; color:#fff; font-size:12px; font-weight:normal; text-shadow:none;}
.showbox ul li a:active .txt,.showbox ul li a:hover .txt{ text-decoration:none !important; text-shadow:none !important;} 


/*------------------弹出框样式---------------------------*/
.dialpage{ position:fixed; top:0; left:0; right:0; bottom:0; z-index:9999;}
.dialpage .maskbox{ position:absolute; top:0; left:0; right:0; bottom:0; background:#000;filter:alpha(opacity=60);opacity: 0.6;-webkit-opacity: 0.6; z-index:4;}

.dialpage .dialbox{ position:absolute; background:#fff; border-radius:.9375em; z-index:5;}

.dialpage .dialbox.size-m{ height:262px; top:50%; margin-top:-131px; left:10%; right:10%;}
.dialpage .dialwrap{ position:relative; width:100%; height:100%;}
.dialframe{ width:100%; height:216px; padding:16px; box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; -webkit-box-sizing:border-box;}
.shareimg{ width:130px; height:130px; margin:0 auto; margin-bottom:12px;}
.shareimg img{ width:130px; height:130px;}
.sharetxt{ height:42px; width:100%;}
.sharetxt .t{ display:block; font-weight:normal; width:100%; height:40px; border:1px solid #eee; line-height:40px; color:#444; padding:0 5px; box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; -webkit-box-sizing:border-box; overflow:hidden; font-size:14px;}
.sharetxt .t:active{ color:#222; text-decoration:none !important; border:1px solid #b8cad7;}

.dialpage .closebtn{ height:45px; border-top:1px solid #eee;}
.dialpage .closebtn .close{ display:block; height:45px; line-height:45px; text-align:center; color:#555; font-size:16px; border-radius:0 0 .9375em .9375em;}
.dialpage .closebtn .close:active{ background:#eee;}

@media only screen and (min-width :1025px){
	
	
	.showbox ul li{ height:120px; }
	.showbox ul li a .ico{ width:40px; height:40px; margin:0 auto; padding-top:20px;}
    .showbox ul li a .ico .i{ width:40px; height:40px; display:block;}
    .showbox ul li a .txt{ height:50px; line-height:50px;}

.dialpage .dialbox.size-m{ height:262px; width:300px; left:50%; margin-left:-150px; top:50%; margin-top:-131px; }
}
